* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
}

.main-header {
  background-color: darkblue;
  padding: 24px 48px;
}

.main-header button {
  display: none;
}

@media (max-width: 768px) {
  .main-header button {
    display: block;
  }
}

.main-header ul {
  display: flex;
  gap: 12px;
  list-style: none;
  transition: .5s;
}

.main-header ul li {
  color: #fff;
  font-size: 20px;
}

@media (max-width: 768px) {
  .main-header ul {
    width: 300px;
    position: fixed;
    top: 0;
    left: -300px;
    flex-direction: column;
    background-color: #262626;
    padding: 24px;
    height: 100vh;
  }

  .main-header ul.opened {
    left: 0;
  }
}