* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
}

#card {
  width: 500px;
  height: 700px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

#card-title h2 {
  margin-top: -200px;
  font-size: 40px;
  border-bottom: 1px solid #c6c6c6;
}

#card-title .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

#card-title .buttons input {
  padding: 30px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  background-color: #c6c6c6;
  border: none;
  transition: .3s;
}

#card-title .buttons input:hover {
  background-color: #8a8383;
  box-shadow: 0px 1px 18px #242323cc;
}

#modal {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  background-color: aquamarine;
  margin-top: 20px;
}